<h1>Edit Problem: <%= @result.check_item.name %></h1>

<%= render :partial => 'layouts/result' %>

<%= link_to("Problem Fixed", result_path(:result_id => @result.id), :method => 'DELETE', :confirm => 'Are you sure?', :class => "btn btn-success") if @result.severity > 0 %>

<br />

