<h1>Edit <%= @check_item.name %></h1>
<br /><br />
<%= render :partial => 'checkitem' %>
<%= link_to "Delete", check_item_path(:check_item_id => @check_item.id), :method => 'DELETE', :confirm => 'Are you sure?', :class => "btn btn-danger" %>

