<% content_for :nav do %>
<li><%=link_to "Add Room", new_check_list_path %></li>
<li><%= link_to "View Checks", check_item_templates_path %></li>
<li><%= link_to "View Problems", results_path %></li>
<% end %>

<h1>Rooms</h1>
<br/>
<ul id="check-list">
	<% @checklists.each do |check_list| %>
	    <li><%= link_to check_list.name, check_list_path(check_list) %></li>
    <% end %>
</ul>

<br/>

