<h1>Rooms</h1>
<br />
<%=link_to "New Room", new_check_list_path, :class => "btn btn-primary" %>
<br /><br />
<ul id="check-list">
	<% @checklists.each do |check_list| %>
	    <li><%= link_to check_list.name, check_list_path(check_list) %></li>
    <% end %>
</ul>


