<h1>Select Unit</h1>


<ul>
	<% @units.each do |unit| %>
		<% unless unit.check_lists.first.id.nil? %>
			<li><%= link_to unit.name, check_list_path(unit.check_lists.first.id) %></li>
		<% end %>
	<% end %>
</ul>
