<h1>Checklists</h1>
<br/>
<%=link_to "Add Checklist", new_check_list_path %>
<br/>
<br/>
<ul id="check-list">
	<% @checklists.each do |check_list| %>
	    <li><%= link_to check_list.name, check_list_path(check_list) %></li>
    <% end %>
</ul>
